* {
	margin: 0;
	padding: 0;
}
body {
	background: #996600;
	font-size: 11px;
	color: #000;
}

.wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}

.header {
	border: 1px solid #000;
	box-shadow: 0 3px 15px #000;
	margin-bottom: 15px;
}

#img-header1 {
	/*border-bottom: 6px solid #220700;*/
}

#menu {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	background: #190403;
	padding-top: 10px;
	padding-bottom: 10px;
}

#menu > a {
	font-size: 1.2rem;
	color: #fff;
}

#menu > span {
	font-size: 1.1rem;
	color: #fff;
}

.contenido {
	background: #fff;
	padding: 12px 12px 18px 12px;
	box-sizing: border-box;
	border: 1px solid #000;
	box-shadow: 0 3px 15px #000;
	/*min-height: 600px;*/
}
.aside {
	box-shadow: 0 3px 10px #000;
	padding: 0;
} 

.aside ul {
	padding: 0 8px;
	margin-bottom: 100px;

}
.aside ul li {
	list-style-type: none;
}

.aside-content p {
	line-height: 13px;
}

.aside-content p:last-child {
	margin-right: 5px;
}

.footer {
	padding: 10px;
	color: #fff;
	font-size: 1.2rem;
}
/*TEXT COLORS*/

.red {
	color: #B21E12;
}
.red:hover{
	color: #B21E12;
}

/*TEXT SIZES*/
.font12{
	font-size: 1.2rem;
}
.font13{
	font-size: 1.3rem;
}

/*BORDERS*/
.border {
	border: 1px solid #000;
}

.border-top {
	border-top:1px solid #000;	
}
.underline {
	border-bottom: 1px solid #B21E12;
}

/*PADDINGS*/
.nopadding {
	padding: 0;
}
.padding-top3 {
	padding-top: 3px;
}
.padding-top15 {
	padding-top: 15px;
}
.padding-left3 {
	padding-left: 3px;
}
.padding-left12 {
	padding-left: 12px;
}
.padding-left25 {
	padding-left: 25px;
}
.padding-right12 {
	padding-right: 12px;
}
.padding-lr22 {
	padding-left: 22px;
	padding-right: 22px;
}
.padding-tb8 {
	padding-top: 8px;
	padding-bottom: 8px;
}
.padding-bottom3 {
	padding-bottom: 3px;
}
.padding-bottom10 {
	padding-bottom: 10px;
}
.padding-bottom15 {
	padding-bottom: 15px;
}
/*MARGINS*/
.nomargin {
	margin: 0;
}
.margin-left10{
	margin-left: 10px;
}
.margin-bottom50 {
	margin-bottom: 50px;
}
.margin-top10 {
	margin-top: 10px;
}
.margin-top25 {
	margin-top: 25px;
}
.margin-top50 {
	margin-top: 50px;
}
.margin-bottom10 {
	margin-bottom: 10px;
}
/*MARGINS*/
.lista {
	padding: 0 8px;
}

.lista li {
	list-style-type: none;
}
/*COLUMNS*/
.col-center {
	float: none;
	margin: 0 auto;
}